@import "../../styles/colors.scss";

.payment {
  margin-top: 48px;

  .paymentBox {
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;

    .paymentBoxFooter {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      .buyButton {
        border: 0;
        background-color: $primary-color;
        padding: 16px 32px;
        color: $dark-color;
        border-radius: 24px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          background-color: lighten($primary-color, 10%);
        }
        &:active {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    .paymentOption {
      .paymentOptionDescription {
        margin: 4px 0 4px 40px;
        font-size: 12px;
      }
    }
  }
}
