.productList {
  .productListWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    grid-gap: 32px;
  }

  .productListHeader {
    display: flex;
    justify-content: flex-end;
    margin: 0 32px 32px;

    .searchWrapper {
      display: flex;
      align-items: center;
      margin-right: 32px;
      justify-content: flex-end;

      .searchInputWrapper {
        width: 0;
        visibility: hidden;
        transition: width 200ms linear;

        &.visible {
          width: 100%;
          visibility: visible;
        }

        div {
          margin: 0;
        }
      }
    }

    @keyframes main {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    .productListControl {
      background-color: #fff;
      border: 1px solid #333;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      padding: 16px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:active {
        background-color: #fbfbfb;
      }
    }
  }
}
