.billingDetail {
  .billingDetailTitle {
    margin-bottom: 48px;
  }

  .inputGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &.addressBox {
      grid-template-columns: 2fr 1fr;
    }
  }
}
