@import "../../styles/colors.scss";

.counter {
  .counterControl {
    padding: 0;
    width: 44px;
    height: 44px;
    color: #fff;
    border: 0;
    background-color: $primary-color;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms ease;

    &:active,
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  input {
    width: 64px;
    padding: 8px 12px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    margin: 0 8px;
    text-align: center;
  }
}
