@import "../styles/colors.scss";

.main {
  background-color: $light-gray-100;
  .checkoutDetailSection {
    display: grid;
    grid-template-columns: minmax(320px, 1024px);
    width: 100%;
    padding: 48px;
    justify-content: center;

    .checkout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }
}
