.productCategorySection {
  position: relative;
  display: flex;
  justify-content: center;
}
.productListSection {
  display: grid;
  grid-template-columns: minmax(320px, 1024px);
  width: 100%;
  padding: 48px;
  justify-content: center;
}
