@import "../styles/colors.scss";

.main {
  background-color: $light-gray-100;
  .productDetailSection {
    display: grid;
    grid-template-columns: minmax(320px, 1024px);
    width: 100%;
    padding: 48px;
    justify-content: center;
  }
}
