@import "../../styles/colors.scss";

.cartPanel {
  .cartPanelButtonActivator {
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $secondary-color;
    border: 0;
    border-radius: 12px 0 0 12px;
    transform: translate(100%, -50%);
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:active,
    &:hover {
      background-color: lighten($secondary-color, 10%);
    }

    &:active {
      background-color: darken($secondary-color, 2%);
    }

    &.visible {
      transform: translate(0, -50%);
    }

    .itemsInCart {
      position: absolute;
      top: 12px;
      left: 50%;
      width: 16px;
      height: 16px;
      background-color: $primary-color;
      border-radius: 50%;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  .floatingPanel {
    position: fixed;
    top: 50%;
    transform: translate(100%, -50%);
    right: 0;
    transition: transform 200ms ease;

    &.visible {
      transform: translate(-12px, -50%);
    }
  }
}
