.productCategory {
  position: absolute;
  padding: 16px 24px;
  margin: 0 32px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: inline-block;
      .categoryButton {
        padding: 8px 16px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        transition: background-color 250ms ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
