@import "../../styles/colors.scss";

.featuredProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  background-color: $light-gray-100;

  .featuredProductsTitle {
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product:not(:last-child) {
    margin-right: 32px;
  }
}
