@import "../../styles/colors.scss";

.product {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;

  .productImageWrapper {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: $light-gray-100;
    border-radius: 16px;
  }

  .productInfo {
    padding: 12px 24px;
    display: flex;
    flex-direction: column;

    .productName {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .productPrice {
      color: #57c4e4;
    }
  }

  .cartOptions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    transform: translateY(100%);
    transition: transform 200ms ease;

    .addToCartButton {
      padding: 0;
      width: 64px;
      height: 64px;
      color: #fff;
      border: 0;
      background-color: $primary-color;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 250ms ease;
      display: flex;
      justify-content: center;
      align-items: center;

      &:active,
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  &:hover {
    .cartOptions {
      transform: translateY(0);
    }
  }

  &.featured {
    .productImageWrapper {
      width: 200px;
      height: 200px;
      padding: 24px;
      background-color: #fff;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 0;
    }
  }

  &.cart {
    .productImageWrapper {
      padding: 10px;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      padding: 8px 12px;

      .productName {
        color: $light-gray-100;
        font-weight: normal;
        font-size: 14px;
      }

      .productPrice {
        font-size: 12px;

        .productQuantity {
          color: #fff;
        }
      }
    }
  }
}
