.mainMenu {
  ul {
    display: flex;
    li {
      position: relative;
      &:not(:last-child) {
        margin-right: 8px;
      }
      &:after {
        top: auto;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        content: "";
        z-index: 1;
        transition: all 0.5s ease;
        background-color: #000;
        opacity: 0;
      }
      &:hover:after {
        opacity: 1;
      }
      a {
        padding: 4px 16px;
      }
    }
  }
}
